@import url("https://unpkg.com/aos@2.3.1/dist/aos.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overscroll-behavior: none;
}

.body {
  z-index: 300;
}

/* html,
body {
  ::-webkit-scrollbar {
    width: 12px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 6px;
  }

  ::-webkit-scrollbar-track {
    background-color: rgb(17, 17, 17, 0.95);
  }
} */

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}

.animate-slide-down {
  animation: slideDown 0.5s ease;
}

@keyframes slideIn {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(50%);
  }
}

.animate-slide-in {
  animation: slideIn 0.2s ease-in-out;
}

.hero-img {
  width: 15rem;
  height: 15rem;

  @media screen and (min-width: 800px) {
    width: 20rem;
    height: 20rem;
  }
  border: 3px solid white;

  animation: morph 8s ease-in-out infinite;
  border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  position: relative;
  transition: all 1s ease-in-out;
}

@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }

  50% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
  }

  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
}

figure {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.hover01 figure img {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in;
  border-radius: 6px;
}
.hover01 figure:hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
